@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo */

h1, h2 {
    font-family: Oswald, sans-serif;
    
    letter-spacing: 4px;
    color: #252525; 
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* hero image */

#hero-outer {
   height: 600px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/champions-league-2005-1531611.jpg);
    background-repeat: no-repeat;
    background-size: cover;

 

     /* animates zoom effect on loading page */
     animation-name: hero-zoom;
     animation-duration: 5s;
     animation-fill-mode: forwards;
 }
     /* creates the level of zoom for hero image*/
       @keyframes hero-zoom {
          from{ transform: scale(1);
          }
          to {
              transform: scale(1.1);
          }
       }
/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;

}
#menu, #logo
{
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
text-decoration: none;
color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid blue;
    
}
 
/* Table/news etc */

section > h1 {
    text-align: center;
}

.content {
    width: 60%;
    margin: 20px auto 20px;
    border: 1px solid red;
    float: right;
}
.content, .maincontent {
     width: 70%;
    float: left;
    border: 1px solid blue;
}
.content, .maincontent, .post {
    width: 95%;
    height: 270px;
    margin: 10px auto;
border-radius: 5px;
background: white;

}

.content, .maincontent, .post, .read-more {

bottom: 10px;
right: 10px;
}

.content, .maincontent, .post, .post-image {
    width: 60%;
    height: 100%;
    float: left;
}
.preview-text {
    width: 60%;
    padding: 10px;
    
}

.content, .maincontent, .recent-post-title {
    margin: 20px;
}

.btn {
    padding: .5rem 1rem; 
    background: #006669;
    color: white;
    border: 1px solid transparent;
    border-radius: .25rem;
    text-decoration: none;
}

.btn:hover {
    color: white !important;
    background: #005255;
}

    /* footer */

    #footer {
        height: 150px;
        bottom: 0;
       
 }
   
         .social-networks {
        text-align: center;
      
    }
    
    .social-networks > li {
        display: inline;
       
    }
    
    .social-networks i {
        font-size: 160%;
        margin: 1%;
        padding: 5%;
        color:#3a3a3a;
        
    }

    /* Map */

   


    /* gallery */

    #photos {
        clear: both;
        line-height: 1;
        column-count: 4;
        column-gap: 0;
    }

    #photos > img {
        width: 100%;
    }

    .ptable table{
        margin: 3px auto;
        border-collapse: collapse;
        display: block;
        left: 0;
       
     }
    
    .ptable{
        display: block;
        position: relative;
    }
    
    th, td {
        padding: 10px;
    }
    
    th{
        background-color: black;
        color: #ffe221;
    }
    
    .headin{
       text-align: right;
        text-decoration: none;
        color: #111011da;
        margin: 20px;
        display: block;
       
        margin-top: auto;
        margin-right: 230px;
        text-transform: uppercase;
       
    }
    
    .wpos{
        text-align: center;
    }
    
    .wpos td{
        color: #77ff21;
    }
    
    .pos{
        text-align: center;
    }
    
    .pos td{
        color: #ff7b21;
    }
    
    table .col{
        border-bottom: 1px solid #FFFFFF;
    }
    
    .wpos:hover{
        background-color: #77ff21;
    }
    
    .wpos:hover td{
        color: #000000;
    }
    
    .pos:hover{
        background-color: #ff7b21;
    }
    
    .pos:hover td{
        color: #000000;
    }


    #right-about {
        padding-top: 30px;
        width: 20%;
       float: right;
        background-color: #77ff21;
    }

 
 