@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo */

h1, h2 {
    font-family: Oswald, sans-serif;
    
    letter-spacing: 4px;
    color: #252525; 
    text-align: center;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* hero image */

#hero-outer {
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/champions-league-2005-1531611.jpg);
    background-repeat: no-repeat;
    background-size: cover;

 

     /* animates zoom effect on loading page */
     animation-name: hero-zoom;
     animation-duration: 5s;
     animation-fill-mode: forwards;
 }
     /* creates the level of zoom for hero image*/
       @keyframes hero-zoom {
          from{ transform: scale(1);
          }
          to {
              transform: scale(1.1);
          }
       }
/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;

}
#menu, #logo
{
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
text-decoration: none;
color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid blue;
    
}
 
/* Table/news etc */

section > h1 {
    text-align: center;
}

#mainsection img {
    max-width: 30vw;
}


.preview-text {
    width: 100%;
    padding: 10px;
    
}
.post {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 2.5rem;
    min-width: 30vw;
    width: min-content;
}

.post-image { 
    margin: 8px;
}


.btn {
    padding: .5rem 1rem; 
    background: #006669;
    color: white;
    border: 1px solid transparent;
    border-radius: .25rem;
    text-decoration: none;
}

.btn:hover {
    color: white !important;
    background: #005255;
}

table {
    max-width: 90vw;
}

    /* footer */

    #footer {
        height: 150px;
        bottom: 0;
       
 }
   
         .social-networks {
        text-align: center;
      
    }
    
    .social-networks > li {
        display: inline;
       
    }
    
    .social-networks i {
        font-size: 160%;
        margin: 1%;
        padding: 5%;
        color:#3a3a3a;
        
    }

    /* Map */

   


    /* gallery */

    #photos {
        clear: both;
        line-height: 1;
        column-count: 4;
        column-gap: 0;
    }

    #photos > img {
        width: 100%;
    }

 /*-- gallery */

    
    #mainsection {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .ptable table{
        margin: 3px auto;
        border-collapse: collapse;
    }
    
    th, td {
        padding: 10px;
    }
    
    th{
        background-color: black;
        color: #ffe221;
    }
    
    .headin{
       text-align: right;
        text-decoration: none;
        color: #111011da;
        margin: 20px;
        display: block;
       
        margin-top: auto;
        margin-right: 230px;
        text-transform: uppercase;
       
    }
    
    .wpos{
        text-align: center;
    }
    
    .wpos td{
        color: #000000;
    }
    
    .pos{
        text-align: center;
    }
    
    .pos td{
        color: #000000;
    }
    
    table .col{
        border-bottom: 1px solid #FFFFFF;
    }
    
    .wpos:hover{
        background-color: #5fe50a;
    }
    
    .wpos:hover td{
        color: #000000;
    }
    
    .pos:hover{
        background-color: #d3dfd4fc;
    }
    
    .pos:hover td{
        color: #000000;
    }

 /* History page */
 
 #early-years {
   clear:both;
    line-height: 1;
    }
 
    .ey-heading {
        padding-bottom: .5rem;
        border-bottom: 2px solid black;
        font-size: 35px;
    }

 
.first-years {

line-height: 30px;
}

.ey-container {
    display: flex;
    align-items: flex-start;
    font-size: 20px;
}

/*-- History page */

/* For larger to medium screen size from 1300px wide and down */
/* Media queries */
@media screen and (max-width: 1300px) {
#mainsection {
    
    
    margin: 0 auto;
}
.recent-post-title {
    padding: 30px 0;
    margin: 0;
}
.table {
    width: 100%; 
     padding: 0;
}

.headin {
    text-align: left
}

#photos {
    column-count: 3;
}

#hero-image {
    width: 100%;
    max-height: 500px;
    
    
}

}

/* For medium screen sized from 950px wide and down */
@media screen and (max-width: 950px) {
    
    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 30px;
        line-height: 25px;

    }

    .content {
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }
    
   .post-image {
       margin: 8px;
   }

   #hero-image {
    width: 100%;
    max-height: 300px;
    
    
}
}

/* For small screen sizes 800px and down */

@media screen and (max-width: 800px) {
    #mainsection img {
        max-width: 100%;
    
    }
    .post {
        width: 80%;
        padding-top: 0.4rem;
    }

    #photos {
        column-count: 2;
    }

    #hero-image {
        width: 100%;
        max-height: 220px;
        
        
    }
}

/* For small screen sizes 450px and down */
@media screen and (max-width: 450px) {
    .headin {
        width: 100%;
    }

    .first-years {
        width: 100%;
        text-align: center;
    }
    
    #menu {
        margin-left: 0;
    }

    #photos {
        column-count: 1;
    }

    #logo {
        margin-left: 20px;
    }
    #hero-image {
        width: 100%;
        max-height: 150px;
        
        
    }
}